.poll-box {
  border-color: #e3f2fd;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  height: 250px;
  margin: 10px auto;
  width: 500px;
}

.poll-author {
  border-color: #e3f2fd;
  border-radius: 5px 5px 0px 0px;
  border-style: solid;
  border-width: 1px;
  font-size: medium;
  font-weight: bold;
  margin: -11px -11px 5px -11px;
  padding: 10px;
}

.poll-author-avatar {
  align-self: center;
}

.poll-author-avatar img {
  width: 50%;
}

.poll-details {
  display: flex;
  flex-wrap: wrap;
  height: 75%;
  margin-top: 15px;
}

.poll-divider {
  border-left: 2px solid #e3f2fd;
  margin: 0px 10px 0px 10px;
}

.poll-result-link {
  display: flex;
  flex-direction: column;
}

.poll-result-link > *:first-child {
  align-self: stretch;
}

.poll-voting-details {
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.poll-voting-box {
  padding: 10px;
  padding-bottom: 3px;
}

.poll-voting-box .btn {
  margin-top: 20px;
  width: 100%;
}

.poll-would-you-rather {
  font-size: large;
  font-weight: bold;
}
